---
title: Featured Projects
slug: featured-projects
layout: default
order: 1
excerpt: Open source projects created and maintained by GoDaddy engineers.
---

{% include component/project-search.html %}

<div class="card-deck project-cards">
  {% for project in site.data.projects %}
    {% assign mod = forloop.index | modulo: 3 %}

    {% include component/project-card.html project=project %}

    {% if mod == 0 %}
    <div class="w-100 d-none d-sm-block"><!-- wrap every 3 on md--></div>
    {% endif %}
  {% endfor %}
</div>

<script>
  var projects = {{ site.data.projects | jsonify }};
</script>

{% include component/all-projects.html %}
