// -----------------------------------------------------------------------------
// This file contains styles that are specific to the code of conduct page
// -----------------------------------------------------------------------------

.page--code-of-conduct {
  #content {
    font-weight: $text-font-weight-thin;
    padding-top: $spacing-default;

    ul {
      padding-left: 20px;

      li {
        padding-bottom: $spacing-default;
      }
    }
  }
}
