// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page
// -----------------------------------------------------------------------------

.page--home {
  background-color: $product-base;

  .navbar-top {
    z-index: 11;
  }

  .utility-bar {
    z-index: 12;
  }

  .masthead {
    padding: 42px 0;
  }

  .masthead .container {
    z-index: 10;
    position: relative;
  }

  .masthead::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 420px;
    background: $secondary-base;
    -webkit-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    transform: skewY(-6deg);
    z-index: 0;
    top: -84px;
    left: 0;
  }
}
