// -----------------------------------------------------------------------------
// This file contains styles that are specific to the jobs page
// -----------------------------------------------------------------------------

.page--jobs {
  max-width: 700px;
  line-height: 2em;

  h2 {
    font-size: 2.2em;
  }
}
