// -----------------------------------------------------------------------------
// This file contains styles that are specific to the post pages
// -----------------------------------------------------------------------------

.page-post {
  h1 {
    font-size: 2em;
  }

  .container {
    line-height: 2em;
    max-width: 700px;
  }

  .post {
    margin-bottom: 1em;
  }

  p img {
    width: 100%;
  }
}
