<div class="card mb-3 shadow border-0">
  <div class="card-body p-0">
    <p class="card-text p-3 mb-0 bg-secondary-base text-light">
      At GoDaddy we build next-generation experiences that empower the world's small business owners to start and grow their independent ventures.
    </p>
    <div class="card-footer text-muted">
      <a class="btn btn-primary shadowed" href="https://careers.godaddy.com/?source=APPLICANT_SOURCE-3-118&utm_source=godaddy-oss" title="Work at GoDaddy">
        Join us!
      </a>
    </div>
  </div>
</div>
