<div class="card horizontal">
  <div class="card-stacked white-text">
    <div class="card-content blue">
      <p>When you join GoDaddy you’ll realize we work differently – ordinary isn’t part of our DNA. We believe when imaginations run wild you can achieve amazing accomplishments.</p>
    </div>
    <div class="card-action">
      <a style="border-radius:0; width: auto; padding: 0 10px;" class="btn btn-floating" href="https://careers.godaddy.com/?source=APPLICANT_SOURCE-3-118&utm_source=godaddy-oss" title="Work at GoDaddy">
        Join us!
      </a>
    </div>
  </div>
</div>
