<nav class="navbar navbar-top navbar-expand-md navbar-light bg-white">
  <a class="navbar-brand text-font-headline" href="{{ '/' | absolute_url }}" title="GoDaddy Open Source">
    {{ site.theme_settings.title | default: site.title }}
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topnav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="topnav">
    <ul class="navbar-nav ml-auto">
      {% assign items = site.pages | sort: 'order' %}
      {% for item in items %}
      {% if item.title and item.hide != true %}
      <li class="nav-item{% if item.url == page.url %} active{% endif %}">
        <a class="nav-link" href="{{ item.url }}" title="{{ item.title }}">
          {{ item.title }}
        </a>
      </li>
      {% endif %}
      {% endfor %}
      <li class="nav-item">
        <a class="nav-link btn btn-primary text-white shadow" href="https://careers.godaddy.com/?source=APPLICANT_SOURCE-3-118&utm_source=godaddy-oss" title="Work at GoDaddy">
          Join us!
        </a>
      </li
    </ul>
  </div>
</nav>
