<div class="navbar">
  <nav class="navigation">
    <div class="nav-wrapper">
      <a href="{{ site.url }}" title="GoDaddy Open Source" class="left brand-logo">
        GoDaddy Open Source
      </a>
      <a href="#" data-activates="mobile-demo" class="right button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down" id="nav-mobile">
        <li>
          <a href="/featured-projects">
            Featured projects
          </a>
        </li>
        <li>
          <a href="/blog-posts">
            Blog posts
          </a>
        </li>
        <li>
          <a href="/code-of-conduct">
            Code of Conduct
          </a>
        </li>
        <li>
          <a href="https://careers.godaddy.com" class="waves-effect waves-light btn inverse">
            Careers
          </a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/featured-projects">
            Featured projects
          </a>
        </li>
        <li>
          <a href="/blog-posts">
            Blog posts
          </a>
        </li>
        <li>
          <a href="/code-of-conduct">
            Code of Conduct
          </a>
        </li>
        <li>
          <a href="https://careers.godaddy.com" class="waves-effect waves-light btn inverse">
            Careers
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
