<div class="card card--post mb-3 shadow hoverable border-0">
  <a href="{{ post.url }}">
    <img class="card-img-top" src="{{ post.cover }}" alt="Article featured image">
  </a>

  <div class="card-body">
    <a href="{{ post.url }}" title="{{ post.title }}"><h5 class="card-title text-font-headline text-line-height-2x">{{ post.title }}</h5></a>

    <p class="card-text">
      <span class="text-muted">{{ post.date | date: '%B %d, %Y' }} — </span>
      {{ post.excerpt }}
      <a href="{{ post.url }}" title="{{ post.title }}" role="button">
        Read More &raquo;
      </a>
    </p>
  </div>
</div>
