<div class="card mb-3 shadow border-0" data-id={{ project.id }}>
  <div class="card-body">
    <h5 class="card-title text-font-headline">{{ project.name }}</h5>
    <p class="card-text">{{ project.description }}</p>

    {% for link in project.links %}
    <a
      class="card-link"
      href="{{ link.url }}"
      title="{{ link.title }}">
      {% capture type %}{{ link.type }}{% endcapture %}
      {% include function/get-project-text.html type=type %}
    </a>
    {% endfor %}
  </div>
</div>
