<div class="card small hoverable card--project">
  <div class="card-stacked">
    <div class="card-content">
      <span class="card-title">
        {{ project.name }}
      </span>

      <p class="m-b-default">
        {{ project.description }}
      </p>

      <p class="text-small">
        Lead maintainer:
        <a href="{{ project.maintainer.link }}">
          {{ project.maintainer.name }}
        </a>
      </p>
    </div>

    <div class="card-action">
      {% for link in project.links %}
      <a
        href="{{ link.url }}"
        title="{{ link.title }}">
        {% capture type %}{{ link.type }}{% endcapture %}
        {% include function/get-project-text.html type=type %}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
