<head>
  <meta charset="utf-8">
  
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
  <meta name="description" content="{{site.description}}">

  <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  {% if page.canonical%}
    <link rel="canonical" href="{{ page.canonical }}" />
  {% else %}
    <link rel="canonical" href="{{ site.url }}{{ page.url}}" />
  {% endif %}
</head>
