<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">GoDaddy OSS</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{{ site.url }}">Home</a></li>
        <li><a href="{{ site.url }}/featured-projects">Featured projects</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{{ site.url }}">Home</a></li>
        <li><a href="{{ site.url }}/featured-projects">Featured projects</a></li>
      </ul>
    </div>
  </nav>
</div>
