// -----------------------------------------------------------------------------
// This file contains all styles related to common accent elements
// -----------------------------------------------------------------------------

.bg-twitter {
  background: #1b95e0;
}

.bg-product-base {
  background-color: $product-base;
}

.bg-secondary-base {
  background-color: $secondary-base;
}
