// -----------------------------------------------------------------------------
// This file contains all styles related to the site footer
// -----------------------------------------------------------------------------

.page-footer {
  background: $godaddy-dark-grey;
  color: white;
  padding: 30px 0 0;
}
