// -----------------------------------------------------------------------------
// This file contains all styles related to the site footer
// -----------------------------------------------------------------------------

.page-footer {
  background-color: $grey-dark;
  position: relative;
  z-index: 1;

  .footer-copyright {
    background-color: #242424;
  }
}
