// -----------------------------------------------------------------------------
// This file contains all styles related to layout navigation
// -----------------------------------------------------------------------------

.navigation {
  background: white;
  box-shadow: none;

  font-family: $text-headline-stack;

  a:not(.btn),
  ul a:not(.btn) {
    color: $grey-dark;

    &:hover {
      background-color: transparent;
      color: $black-base;
    }
  }

  .brand-logo {
    left: $spacing-default;
    font-size: 1.5em;
  }
}
