// -----------------------------------------------------------------------------
// This file contains application-wide Sass variables
// -----------------------------------------------------------------------------

/* Map variables to theme */
$black-base: $godaddy-black-base;
$primary-base: $godaddy-primary-base;
$primary-highlight: $godaddy-primary-highlight;
$secondary-base: $godaddy-secondary-base;
$secondary-highlight: $godaddy-secondary-highlight;
$secondary-midrange: $godaddy-secondary-midrange;
$product-base: $godaddy-product-base;
$grey-midrange: $godaddy-grey-midrange;
$grey-dark: $godaddy-grey-dark;

/* Background fills */
.bg-extra-dark { background-color: #242424; }

/* Theme backgrounds */
.bg-theme-grey-dark { background-color: $grey-dark; }
.bg-theme-primary { background-color: $primary-base; }
.bg-theme-secondary { background-color: $secondary-base; }
.bg-theme-secondary-highlight { background-color: $secondary-highlight; }
.bg-theme-secondary-midrange { background-color: $secondary-midrange; }

/* Breakpoints */
$break-small: 560px;
$break-large: 1024px;

/* Spacing */
$spacing-default: 1em;
$spacing-double: $spacing-default * 2;

/* Text */
$text-headline-stack: 'Boing-Bold', Helvetica, Arial, sans-serif;
$text-headline-stack-secondary: 'gdsherpa', Helvetica, Arial, sans-serif;
$text-font-weight-thin: 300;

$font-family-sans-serif:
  'gdsherpa',
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
