// -----------------------------------------------------------------------------
// This file contains application-wide Sass variables
// -----------------------------------------------------------------------------

/* Colors */
$godaddy-deep-green: #00a63f;
$godaddy-dark-grey: #2b2b2b;

/* Breakpoints */
$break-small: 560px;
$break-large: 1024px;

/* Font Stacks */
$text-font-stack: 'Raleway', sans-serif;
