// -----------------------------------------------------------------------------
// This file contains everything related to the GoDaddy theme
// -----------------------------------------------------------------------------

$godaddy-black-base: #111;
$godaddy-primary-base: #00a63f;
$godaddy-primary-highlight: #02c54c;
$godaddy-secondary-base: #1976d2;
$godaddy-secondary-highlight: #4095e8;
$godaddy-secondary-midrange: #145fa9;
$godaddy-product-base: #f5f7f8;
$godaddy-grey-midrange: #444;
$godaddy-grey-dark: #2b2b2b;

body {
  background: white;
}
