<footer class="page-footer text-light bg-theme-grey-dark">
    <div class="container py-3">
      <div class="row">
        <div class="col-12 col-md-6">
          <h5 class="text-white text-font-headline">
            {{ site.theme_settings.title | default: site.title }}
          </h5>
          <p>
            {{ site.theme_settings.footer_text }}
            <a href="https://careers.godaddy.com/?source=APPLICANT_SOURCE-3-118&utm_source=godaddy-oss" title="Work at GoDaddy">
              Join us!
            </a>
          </p>
        </div>
        <div class="col-12 col-md-4 offset-md-2">
          <h5 class="text-white text-font-headline">
            On the web
          </h5>
          {% include component/social-links.html %}
        </div>
      </div>
    </div>
    <div class="footer-copyright bg-extra-dark text-center text-light font-weight-light py-3">
      <small>
        {{ site.theme_settings.copyright_text | default: '© 2018' }}
      </small>
    </div>
  </footer>
  {% include block/scripts.html %}
</body>
</html>
