<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col m6 s12">
          <h5 class="white-text">GoDaddy Open Source</h5>
          <p class="grey-text text-lighten-4">
            When you join GoDaddy you’ll realize we work differently – ordinary isn’t part of our DNA.
            We believe when imaginations run wild you can achieve amazing accomplishments.
            <a href="https://careers.godaddy.com/?source=APPLICANT_SOURCE-3-118&utm_source=godaddy-oss" title="Work at GoDaddy">Join us!</a>
          </p>
        </div>
        <div class="col m4 offset-l2 s12">
          <h5 class="white-text">On the web</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/godaddy">GitHub</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="https://twitter.com/GodaddyOSS">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/GoDaddy">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center-align">
        Copyright © 1999 - 2018 GoDaddy Operating Company, LLC. All Rights Reserved.
      </div>
    </div>
  </footer>
  {% include block/scripts.html %}
</body>
</html>
