---
slug: post
widgets:
  - twitter
---
{% include section/header.html %}
{% capture headline %}<h1>{{ page.title }}</h1>{% endcapture %}
{% include component/masthead.html headline=headline %}

<div class="container">
  <div class="post">
    <div id="content">
      <div class="authors">
        {% for author in page.authors %}
        <div class="chip">
          <img src="{{ author.photo }}" alt="{{ author.name }}">
          <a target="_blank" href="{{ author.url }}">{{ author.name }}</a>
        </div>
        {% endfor %}

        <div class="chip twitter">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}">Share on Twitter</a>
        </div>
      </div>

      {{ content }}
    </div>

    <div class="widgets center">
      <a class="twitter-follow-button" href="https://twitter.com/GodaddyOSS" data-size="large">Follow @GodaddyOSS</a>
    </div>
  </div>
</div>

{% include section/footer.html %}
