.author {
  .author-details {
    display: inline-block;
    vertical-align: middle;
  }
  h6 {
    margin-bottom: 0;
  }

  a {
    color: $grey-midrange;

    &:hover, &:hover h6 {
      color: $primary-base;
    }
  }
}
