// -----------------------------------------------------------------------------
// This file contains styles for the button component
// -----------------------------------------------------------------------------

.btn.btn-primary {
  background-color: $secondary-base;

  &:hover {
    background-color: $secondary-midrange;
    border-color: $secondary-highlight;
  }
}
