.card .card-action {
  background-color: $product-base;
  border: 0;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: $secondary-highlight;

  &:hover {
    color: $secondary-midrange
  }
}
