// -----------------------------------------------------------------------------
// This file contains styles for the blog post card component
// -----------------------------------------------------------------------------

.card--post {
  .card-img-top {
    width: 100%;
    height: 140px;
    object-fit: cover;
  }
  @media (min-width: 768px) {
    .card-img-top {
      height: 16vw;
    }
  }
}
