// -----------------------------------------------------------------------------
// This file resets the styling of elements to a consistent baseline
// -----------------------------------------------------------------------------

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// prevents large images from extending beyond their containing element
img {
  max-width: 100%;
}

.container {
  flex: 1 0 auto;
}
