// -----------------------------------------------------------------------------
// This file contains all typography related styles for the site
// -----------------------------------------------------------------------------

h1,
h2,
h3 {
  font-family: $text-headline-stack;
}

.justify-text {
  text-align: justify;
}

.text-small {
  font-size: .875em;
}

.text-line-height-2x {
  line-height: 2rem;
}

.text-primary-base {
  color: $primary-base;
}

.text-grey-midrange {
  color: $grey-midrange;
}

.text-font-headline {
  font-family: $text-headline-stack;
}

.text-drop-cap {
  color: $black-base;
  float: left;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
