// -----------------------------------------------------------------------------
// This file contains all typography related styles for the site
// -----------------------------------------------------------------------------

h1,
h2,
h3 {
  font-family: $text-headline-stack;
}

h4,
h5,
h6 {
  font-family: $text-headline-stack-secondary;
}

.nabar-brand {
  font-family: $text-headline-stack-secondary;
  font-weight: 700;
}

.badge,
a,
button,
li,
p,
small,
span {
  font-family: $font-family-sans-serif;
}

.justify-text {
  text-align: justify;
}

.text-small {
  font-size: .875em;
}

.text-line-height-1-5-em {
  line-height: 1.5em;
}

.text-line-height-2em {
  line-height: 2em;
}

.text-line-height-2x {
  line-height: 2rem;
}

.text-primary-base {
  color: $primary-base;
}

.text-grey-midrange {
  color: $grey-midrange;
}

.text-font-headline {
  font-family: $text-headline-stack;
}

.text-drop-cap {
  color: $black-base;
  float: left;
  font-family: $text-headline-stack;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
