// -----------------------------------------------------------------------------
// This file contains all typography related styles for the site
// -----------------------------------------------------------------------------

h1,
h2,
h3 {
  font-family: $text-headline-stack;
}

.justify-text {
  text-align: justify;
}

.text-small {
  font-size: .875em;
}

.text-line-height-2x {
  line-height: 2rem;
}

.text-primary-base {
  color: $primary-base;
}

.text-grey-midrange {
  color: $grey-midrange;
}

.text-font-headline {
  font-family: $text-headline-stack;
}
